VITE_API_URL=https://quadx-backend.onrender.com
VITE_SOCKET_URL=https://quadx-backend.onrender.com
# VITE_GOOGLE_CLIENT_ID=your_google_web_client_id.apps.googleusercontent.com

# VITE_SOCKET_URL=http://localhost:4000
# VITE_API_URL=http://localhost:4000
VITE_GOOGLE_CLIENT_ID=804789745912-iniftpfd5umo9nbg4ktkje6pblr2u7mt.apps.googleusercontent.com
